.body{
    background-color: black;
    color: black;
}
.tudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border: solid 70px  black;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
     
    border: solid 20px  black;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img{
    height: 200px;
    width: 200px;
}
.des{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400px;
    color: white;
}